.benefits {
    background: #1e1823;
}

.benefits-list {}

.benefits-item {}

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #fff;
}

.benefits-desc {
    color: rgba(255, 255, 255, 0.7);
}