.bestsellers {}

.bestsellers-title {}

.bestsellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.bestsellers-iten {
    width: calc((100% - 16px * 2) / 3);
    background: #fff;
}

.bestsellers-ill {
    border-radius: 16px 16px 0 0;
}

.bestsellers-caption {
    padding: 28px;

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-top: none;
    border-radius: 0 0 15px 15px;


    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    text-transform: uppercase;
}