.header {
}

.header .container {
    display: flex;
    align-items: center;
}

.main-nav {
    margin-left: auto;
    margin-right: 122px;
}

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-nav-item {
    
}

.main-nav-link {
    display: block;
    padding: 11px 0;

    font-weight: 500;
}

.main-nav-link:hover,
.main-nav-link:focus {
    color: #fd9222;
}