.products {}

.products-title {
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
}

.products-item {
    width: calc((100% - 18px * 3) / 4);

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 16px;
    padding: 32px 20px;
  
    background-color: #fff;
}


.products-pic {
    margin-bottom: 8px;
}

.products-name {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
}

.products-type {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.products-price {
    width: fit-content;
    padding: 8px 20px;
    margin: 0 auto;
    
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;

    font-weight: 600;
    background-color: #fafafa;
}