.reviews {
}

.reviews-title {
}

.reviews-list {}

.reviews-item {
    background-color: #fff;
}

.reviews-avatar {
}

.reviews-author {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.reviews-text {
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}
